

h1 {
    font-family: 'Hepta Slab', 'Times New Roman', serif;
}

#title{
  width: 50%;
  margin: auto;
  text-align: center;
}

#contact{
	  display:block;
    color: #ffffff;
    background-color: #323232;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Lato', 'Helvetica', sans-serif;
  }

/* Java */
.container {
    display: block;
    border-top: 1px #153F59 solid;
}

nav a {
    color: #f8ecc2;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

header {
    display: flex;
    flex-flow: row;
    background-color: #65a8a6;
    margin: 0;
    padding: 0 10px;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

header h1 {
    order: 2;
    font-size: 2em;
}

.container{
display: flex;
flex-direction: column;
}

.container {
    display: none;
}


/* end java */




@media (min-width: 600px) {
	.container {
    display:flex;
		flex-direction: row;
		justify-content: center;
	}

  .menu-trigger {
      display: none;
  }

  .item {
    margin: 10px;
  }
}

  p{
    text-align: center;
  }

  h3 {
      font-family: Georgia, "Times New Roman", serif;
      text-align: center;
  }

  #list{
    color: #ffffff;
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    list-style-type: none;
  }

  img{
    border: none;
  }

/*grid begins here*/
  .Options {
      padding: 0;
      list-style: none;
      margin: 0;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr auto 1fr;
  }

  .Options li {
      background-color: #2A43FF;
      border: 1px solid #ffffff;
      padding: 10px;
      border-radius: 5px;
  }

  .cards {
      margin: 0;
      padding: 0;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  }

  .Options .card2 {
      width: 300px;
  }

  .Options .card4 {
      height: 300px;
  }
}

@media screen and (min-width: 700px){

    .container {
        display: flex;
    }

    .item {
        border-top: none;
    }



    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

}


  #footer {
      color: white;
      font-family: Georgia, "Times New Roman", serif;
      font-size: 0.8em;
      border-top: 1px solid black;
    }

  body {background-color: #153F59}
